<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <div class="container">
        <header class="cabecalho">
            <div class="cabecalho-logo">
                <img src="/img/logo-header.jpg" alt="logo e-comerce" class="logo">
            </div>
            <div class="conteudo-cabecalho-principal">
                <nav class="navbar">
                    <div class="container">
                        <button class="navbar-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggle" aria-controls="navbarToggler"
                            aria-expanded="false" aria-label="toque para navegar">
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                            <a class="navbar-brand" href="#">Hidden brand</a>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</body>

</html>